.diamond-table {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    color: #2c3b5b;
    font-size: 14px;
  }
  
  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .table-header {
    background-color: #f9f9f7;

    text-transform: uppercase;
    font-size: 13px;
  }
  
  .table-row a {
    color: #2c3b5b;
    text-decoration: underline;
  }
  
  .diamond-img {
    width: 90px;
    height: auto;
  }
  
  .select-link {
    text-transform: uppercase;
    color: #2c3b5b;
    text-decoration: none;
  }
  
  .select-link:hover {
    text-decoration: underline;
  }
  
 
  