*{
  margin: 0px;
  padding: 0px;
}
body{
    font-family: "Quicksand", sans-serif;
}
h1,h2,h3,h4,h5,h6{
 
    font-family: "Playfair Display", serif;
}

/* ----------------------header start */
.header-wrapper .header-top-wrapper{
  background-color:#06364c;
  
}
.header-wrapper svg,.header-wrapper i{
  width:20px;
  height:20px;
}
.header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
 
}
.header-wrapper svg path ,.header-wrapper i{
  fill:#fff;
  color:#fff;
}

.header-wrapper.position-realtive svg path, .header-wrapper.position-realtive  i{
  fill:#000;
  color:#000;
}
/* -----------mega menu css startb  */
.header-wrapper .btn-check:checked+.btn, .header-wrapper .btn.active, .btn.show, .header-wrapper .btn:first-child:active, .header-wrapper :not(.btn-check)+.btn:active {
  color: #000 !important;
  background-color: transparent !important;
  border-color: #fff !important;
}
.header-wrapper .dropdown-toggle::after{
display: none;
}
.header-wrapper  .dropdown{
  position: Unset;
}
.logo-wrapper a.navbar-brand img.img-fluid {
  max-width: 300px;
}
header.header-wrapper.position-realtive {
  position: relative;
}
header.header-wrapper.position-realtive .text-white {
  color: #000 !important;
}
body header.header-wrapper.position-realtive .header-top-wrapper strong.text-white {
  color: #FFF !important;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color:#ccc;

}
.slick-prev:before, .slick-next:before {
 
  color: #213245 !important;
 
}
.slick-slide p{
  margin-top:10px !important;
  font-weight: 600;;
}
.slick-prev, .slick-next{
  top:0 !important;
}
.slick-prev {
right: 30px !important;
left:unset !important;
}
.slick-next {
  right: 8px !important;
}

.section-header-lg {
  color: #000;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: -.44px;
  margin-bottom: 10px;
}
 .sub-title {
  color: #000;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 1.8px;
}
.border-button {
  font-size: 13px;

}
nav .nav-link.active{
  border:none;
  color: #000;
  font-weight: 700;
  text-decoration: underline;

}
.nav-tabs {border-bottom:none;}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:focus-visible {
border: none;
outline: none;
box-shadow: none;
}
.nav .nav-link{
color: #21324580;
font-size: 14px;
font-weight: 500;
line-height: 19px;
letter-spacing: 1.12px;
cursor: pointer;
margin: 0 30px;
position: relative;
}
.accordion-button:focus {
  
  box-shadow: none;
}
/* -------------------------common css end------------------ */
.hero_section_wrapper .position-absolute {
  bottom: 0;
  
}
.hero_section_wrapper .position-absolute .fs-1{
    font-size: 60px !important;
    line-height: 80px;
    letter-spacing: -1.2px;
    font-weight: 400;
}
.hero_section_wrapper .content {
  max-width: 900px;
  margin: auto;
  width: 100%;
}
.trending_noe_wrapper .trending_now p{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1.28px;
  margin-top: 8px;
}
.build_engagement_wrapper p{
  max-width:436px;
}
.best-selling-wrapper .tab-content .tab-pane_p {
  color: #213245;
  font-size: 14px;
  line-height: 19px;
  text-transform: none;
  letter-spacing: 0;
  text-align: center;
  padding: 5px 15px;
}
.Exclusive_Offers_wrapper.bg-secondary{
  background-color: #f4f2f0 !important;
}
.Exclusive_Offers_wrapper .Exclusive_Offers  .offer {
  position: absolute;
   color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .3s ease-in;
}
.Exclusive_Offers_wrapper .Exclusive_Offers  .offer:hover{
  opacity:1;
}
.Exclusive_Offers_wrapper .Exclusive_Offers .slick-slide .img-block{
  position: relative;
}
.Exclusive_Offers_wrapper .Exclusive_Offers .slick-slide{
  padding: 10px;
}
.home-preview-features{
  list-style-type: none;
  font-style: italic;
  padding: 0px;
}
footer .site-footer__social-icons li{
  list-style-type: none;
}
footer svg{
  width:30px;
  height:30px;
}
footer svg path{
  fill:#fff !important;
}
footer .site-footer__item-inner .footer-nav__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.62px;
  margin-bottom: 19px;
}
footer .site-footer__item-inner a {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: .28px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 0px;
}
/* ------------------enagegement ring page */
.build_engagement_wrapper  .content .section-header span:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  border-right: 1px solid;
  margin: 0 5px 0 15px;
}
.build_engagement_wrapper  .content .section-header span {
  font-size: 63px;
  font-style: italic;
  font-weight: 300;
  display: inline-block;
  position: relative;
}
.build_engagement_wrapper  .content .section-header, .creste-your-own .content .section-header{
  font-size: 45px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: -2.25px;
  margin-bottom: 32px;
}
.build_engagement_wrapper  .content ul span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.build_engagement_wrapper .content ul li{
  list-style-type: none;

}
.build_engagement_wrapper .content_p {
  font-size: 16px;
  padding-left: 18px;
  margin-top: 4px;
}
.engagement-bulid-your-ring{
  background-color: #dee9eb4d;
}
.customize-engagement-ring.hero_section_wrapper .sub-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.92px;
  margin-bottom: 0;
}
.customize-engagement-ring h2 {
  font-size: 55px;
  font-style: italic;
  line-height: 1;
  letter-spacing: -2.75px;
}
.Ring-collection .main .slider-nav p:after, .creste-your-own .main-slider .slider-nav-education p:after{
  content: "";
  display: block;
  height: 28px;
  border-right: 1px solid;
  position: absolute;
  top: -2px;
  right: 0;
}
.Ring-collection .main .slider-nav .slick-slide:last-child p:after,.creste-your-own .main-slider .slider-nav-education .slick-slide:last-child p:after{
  border-right:0;
}
.Ring-collection .main .slider-nav .slick-current p, .creste-your-own .main-slider .slider-nav-education .slick-current p{
  color: #213245;
  font-weight: 700;
  
}
.Ring-collection .main .slider-nav p ,.creste-your-own .main-slider .slider-nav-education p{
  color: #21324566;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 1.28px;
  padding-bottom: 0;
  position: relative;
}
.slider-for .medium-up--one-half .section-header-sm ,.slider-for-education .section-header-sm{
  font-size: 55px;
  line-height: 1;
  font-style: italic;
  letter-spacing: -2.75px;
  text-transform: capitalize;
}
.slider-for .medium-up--one-half p{
  font-weight:500;
}
.home-preview .features li {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  list-style-type: none;
}

/* Contact Page */

.contact-form-section .contact-form-wrapper {
  background: #d5ebec;
  max-width: 860px;
  margin: 0 auto;
  padding: 40px 10%;
}

.section-header {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 20px;
}

.contact-form-section .contact-form-wrapper input, .contact-form-section .contact-form-wrapper select, .contact-form-section .contact-form-wrapper textarea {
  background: transparent;
  padding: 10px 10px;
  border-radius: 0;
  border-color: #000;
  margin-bottom: 15px;
}

.home-help-section .page-width-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.help-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  font-size: 25px;
}

.home-help-section .page-width-sm.p-5 {
  background: #f0f4f7;
}

.help-grid:nth-child(2n+2) {
  border: 2px solid #e1eaf0;
  border-width: 0 2px;
}

.help-grids p{
  font-size: 20px;
}

.help-grid .fa-regular{font-family: FontAwesome;color: #00000043;text-decoration: none;font-size: 30px;}

section.accordian_class .accordion-item {
  margin-bottom: 15px;
  border: 1px solid #CCC;
  border-radius: 0;
}

button.accordion-button {
  font-size: 19px;
  background: transparent !important;
  border-radius: 0 !important;
}

@media (min-width: 750px) {
  .contact-form-section .form-wrapper {
      max-width: 500px;
      margin: 40px auto 0;
  }
}
.terms-policy h2{font-size: 25px;}

/* Education Page */
/* .education-menu {display: fle;} */
.education-menu li:not(:last-child) {
  border-right: 2px solid #707070;
}
.education-menu li, .education-sidebar li {
  list-style: none;
}
.education-menu a {
  font-size: 24px;
  color: #a2a2a2;
  font-weight: 500;
  line-height: 1.43;
  text-transform: uppercase;
  text-decoration: none;
}
.education-detail .education-sidebar {
  width: 225px;
  flex: 0 0 225px;
  position: sticky;
  position: -webkit-sticky;
  top: 35px;
}
.education-detail .page-content {
  width: calc(100% - 225px);
  flex: 0 0 calc(100% - 225px);
  padding-left: 80px;
}
.education-sidebar li {
  margin-bottom: 35px;
}
.education-sidebar a {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
}
.education-menu li.active a, .education-sidebar li.active a {
  color: #000;
  font-weight: 600;
  text-shadow: 0px 3px 6px #00000041;
}
@media (min-width: 750px) {
  .education-menu li {
      flex: 1 1 auto;
      padding: 0 2%;
  }
}