.diamond-ring-wrapper {
  padding: 30px 30px;
  font-family: "Helvetica Neue", sans-serif;
}

.title {
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
  margin-bottom: 24px;

}

.step-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.step {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #999;
  transition: color 0.3s;
  margin: auto 20px;
}

.step-number {
  font-size: 14px;
  margin-right: 6px;
}

.step-label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.divider {
  margin-left: 20px;
  margin-right: -10px;
  color: #ccc;
  font-size: 16px;
}

.step.active {
  color: #000;
}

.step.active .step-label,
.step.active .step-number {
  color: #000;
}

.step-content {
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

.diamond-tab-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.tab-wrapper {
  display: flex;
  border: 1px solid #eee;
  background: #f9fafb;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03);
}

.diamond-tab {
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  border-right: 1px solid #eee;
  background: #fff;
  transition: all 0.3s ease;
}

.diamond-tab:last-child {
  border-right: none;
}

.diamond-tab.active {
  font-weight: bold;
  color: #000;
  background: #f5f7fa;
  box-shadow: inset 0 -2px 0 #000;
}

.tab-content {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.diamond-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.diamond-shape-box {
  background-color: #f9f9fb;
  border: 1px solid #eee;
  padding: 20px 10px;
  width: 90px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.diamond-shape-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.diamond-shape-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}


.diamond-shape-name {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.diamond-filter {
  font-family: 'Segoe UI', sans-serif;
  color: #2c3b5b;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.filter-group {
  margin-bottom: 25px;
}

.filter-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.slider-row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-row input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #2c3b5b;
  border-radius: 10px;
  outline: none;
  position: relative;
  margin: 10px 0;
}

.slider-row input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #2c3b5b;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
  margin-top: -6px;
}

.range-values {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.range-values input {
  width: 70px;
  padding: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

.range-values span {
  color: #2c3b5b;
}

.second-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}

.advanced-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.9s ease;
}

/* When open, expand to accommodate content */
.advanced-container.open {
  max-height: 1000px;
  /* Reasonable limit for content */
  opacity: 1;
}

/* 14/05 */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 15px;
  margin: 0 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.page-info {
  font-size: 16px;
}