.Exclusive_Offers_wrapper {
    background-color: #2c2c2c; /* Or any background you want */
  }
  
  .img-block {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  
  .offer {
    font-weight: 600;
    font-size: 0.85rem;
    color: #fff;
  }
  