.jwl-mega-menu-dropdown {
  position: absolute;
  /* top: 100%;  */
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  /* padding: 40px 0; */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

.jwl-mega-menu-inner {
  max-width: 1440px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* .jwl-mega-col {
  min-width: 160px;
} */

.jwl-menu-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.jwl-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jwl-list li {
  margin-bottom: 6px;
}

.jwl-list li a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  transition: color 0.3s ease;
}

.jwl-list li a:hover {
  color: #d51c1c;
}

.jwl-shop-all a {
  font-weight: bold;
  color: #000;
}

.jwl-image-col {
  width: 220px;
  text-align: left;
}

.jwl-image-col img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}

.jwl-caption {
  margin-top: 10px;
}

.jwl-caption h6 {
  margin: 0;
  font-size: 14px;
}

.jwl-caption a {
  text-decoration: underline;
  color: #007bff;
  font-weight: bold;
}
.jwl-mega-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
