.react-datepicker-wrapper {
  all: unset; 
}

.react-datepicker-wrapper {
  display: inline !important;
  padding: 0 !important;
  border: none !important;
}
.disabled-btn-register {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc !important;
  border-color: #ccc !important;
}